<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginViewAndroidApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Views.HomePageActivity.AlertViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.GuessingGame.ResultViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.GuessingGame.GuessViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.GuessingGame.GameMainActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.DatePickerActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.TestPageActivity.ProgressViewsActivity"
            android:exported="false" />
        <activity
            android:name=".Views.TestPageActivity.ButtonsViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.TestPageActivity.TestActivity"
            android:exported="false" />
        <activity
            android:name=".Views.HomePageActivity.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".Views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>